<div class="container">
  <form class="form-group" [formGroup]="blogForm" (ngSubmit)="onSubmit()">
      <div >
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" formControlName="title">
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="blogForm.get('title').invalid && blogForm.get('title').touched">Invalid Title</div>
      <div class="form-group" [formGroup]="blogForm" (ngSubmit)="onSubmit()">
        <label for="content">Content</label>
        <textarea name="content" class="form-control" formControlName="content"></textarea>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="blogForm.get('content').invalid && blogForm.get('content').touched">Invalid Content</div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control-file" #userPhoto (change)="onFireSelected($event)" name="image" autocomplete="off">
      </div>
      <button (click)="createBlog()" class="btn btn-sm btn-outline-primary">Add</button>
  </form>
</div>
