
<body>
<!-- header -->
<div class="header">
  <div class="container">
    <div class="logo">
      <a href="index.html"><img src="assets/user2/images/logo.png" class="img-responsive" alt=""></a>
    </div>

    <div class="head-nav">
      <span class="menu"> </span>
      <ul class="cl-effect-1">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a routerLink="/blogtop">Blog</a></li>
        <li><a href="404.html">Shortcodes</a></li>
        <li><a routerLink="login">Login</a></li>
        <li><a href="contact.html">Contact</a></li>
        <div class="clearfix"></div>
      </ul>
    </div>
    <!-- script-for-nav -->
    <script>
      $( "span.menu" ).click(function() {
        $( ".head-nav ul" ).slideToggle(300, function() {
          // Animation complete.
        });
      });
    </script>
    <!-- script-for-nav -->



    <div class="clearfix"> </div>
  </div>
</div>
<!-- header -->
<div class="container">
  <div class="col-md-9 bann-right">
    <!-- banner -->
    <div class="banner">
      <div class="header-slider">
        <div class="slider">
          <div class="callbacks_container">
            <ul class="rslides" id="slider">
              <li>
                <img style="width: 1200px ; height: 500px" src="https://i.pinimg.com/564x/4d/4f/1b/4d4f1b0afa891566487a22f8a9dcc47c.jpg" class="img-responsive" alt="">
                <div class="caption">
                  <h3>Nụ Cười Việt Nam </h3>
                  <p>Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus.</p>
                </div>
              </li>
              <li>
                <img style="width: 1200px ; height: 500px" src="https://i.pinimg.com/564x/66/5a/1b/665a1bf2c21edbf5332e6f7c586bec3f.jpg" class="img-responsive" alt="">
                <div class="caption">
                  <h3>Tuổi Thơ Làm Sao Có Thể Trở Lại  </h3>
                  <p>Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulu. </p>
                </div>
              </li>
              <li>
                <img style="width: 1200px ; height: 500px" src="https://i.pinimg.com/564x/b4/8a/e2/b48ae2c8ae6dafa5a2ea7a10e8e0994d.jpg" class="img-responsive" alt="">
                <div class="caption">
                  <h3>Người Mẹ Việt Nam </h3>
                  <p>Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. </p>
                </div>
              </li>
              <li>
                <img style="width: 1200px ; height: 500px" src="https://i.pinimg.com/564x/a6/85/a3/a685a3a02ff74512cbab350c6e6f2398.jpg" class="img-responsive" alt="">
                <div class="caption">
                  <h3>Hạnh Phúc </h3>
                  <p>Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada .</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


          <app-blogday></app-blogday>


  </div>
  <div class="col-md-3 bann-left">
    <div class="b-search">
      <form>
        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
        <input type="submit" value="">
      </form>
    </div>
    <h3>Recent Posts</h3>
    <div class="blo-top">
      <div class="blog-grids">
        <div class="blog-grid-left">
          <a href="single.html"><img src="assets/user2/images/1b.jpg" class="img-responsive" alt=""></a>
        </div>
        <div class="blog-grid-right">
          <h4><a href="single.html">Little Invaders </a></h4>
          <p>pellentesque dui, non felis. Maecenas male </p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="blog-grids">
        <div class="blog-grid-left">
          <a href="single.html"><img src="assets/user2/images/2b.jpg" class="img-responsive" alt=""></a>
        </div>
        <div class="blog-grid-right">
          <h4><a href="single.html">Little Invaders </a></h4>
          <p>pellentesque dui, non felis. Maecenas male </p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="blog-grids">
        <div class="blog-grid-left">
          <a href=""><img src="assets/user2/images/3b.jpg" class="img-responsive" alt=""></a>
        </div>
        <div class="blog-grid-right">
          <h4><a href="single.html">Little Invaders </a></h4>
          <p>pellentesque dui, non felis. Maecenas male </p>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <h3>Categories</h3>
    <div class="blo-top">
      <li><a href="#">||   Lorem Ipsum passage</a></li>
      <li><a href="#">||   Finibus Bonorum et</a></li>
      <li><a href="#">||   Treatise on the theory</a></li>
      <li><a href="#">||   Characteristic words</a></li>
      <li><a href="#">||   combined with a handful</a></li>
      <li><a href="#">||   which looks reasonable</a></li>
    </div>
    <h3>Newsletter</h3>

    <div class="blo-top">
      <div class="name">
        <form>
          <input type="text" placeholder="email" required="">
        </form>
      </div>
      <div class="button">
        <form>
          <input type="submit" value="Subscribe">
        </form>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="clearfix"> </div>







  <div class="fle-xsel">
    <div class="nbs-flexisel-container"><div class="nbs-flexisel-inner"><ul id="flexiselDemo3" class="nbs-flexisel-ul" style="left: -394.189px; display: block;">
      <li class="nbs-flexisel-item" style="width: 205.2px;">
        <a href="#">
          <div class="banner-1">
            <img src="https://i.pinimg.com/564x/b1/fe/3a/b1fe3a4908da6f9f060a6bd64fff0758.jpg" class="img-responsive" alt="">
          </div>
        </a>
      </li><li class="nbs-flexisel-item" style="width: 205.2px;">
      <a href="#">
        <div class="banner-1">
          <img src="assets/user2/images/5.jpg" class="img-responsive" alt="">
        </div>
      </a>
    </li><li class="nbs-flexisel-item" style="width: 205.2px;">
      <a href="#">
        <div class="banner-1">
          <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/b1/fe/3a/b1fe3a4908da6f9f060a6bd64fff0758.jpg " class="img-responsive" alt="">
        </div>
      </a>
    </li><li class="nbs-flexisel-item" style="width: 205.2px;">
      <a href="#">
        <div class="banner-1">
          <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/fb/7d/63/fb7d63b4cfd70a1b09de0390f6c0bd33.jpg" class="img-responsive" alt="">
        </div>
      </a>
    </li><li class="nbs-flexisel-item" style="width: 205.2px;">
      <a href="#">
        <div class="banner-1">
          <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/37/a2/d8/37a2d84ef280705467c13a39c968ac81.jpg" class="img-responsive" alt="">
        </div>
      </a>
    </li><li class="nbs-flexisel-item" style="width: 205.2px;">
      <a href="#">
        <div class="banner-1">
          <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/7c/9e/37/7c9e378ba027d641d93ba54d1ddf3f0e.jpg" class="img-responsive" alt="">
        </div>
      </a>
    </li><li class="nbs-flexisel-item" style="width: 205.2px;">
      <a href="#">
        <div class="banner-1">
          <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/48/54/7e/48547e8dac8286bea2e01b800b8d29b8.jpg" class="img-responsive" alt="">
        </div>
      </a>
    </li><li class="nbs-flexisel-item" style="width: 205.2px;">
      <a href="#">
        <div class="banner-1">
          <img src="assets/user2/images/5.jpg" class="img-responsive" alt="">
        </div>
      </a>
    </li><li class="nbs-flexisel-item" style="width: 205.2px;">
      <a href="#">
        <div class="banner-1">
          <img src="assets/user2/images/1.jpg" class="img-responsive" alt="">
        </div>
      </a>
    </li><li class="nbs-flexisel-item" style="width: 205.2px;">
      <a href="#">
        <div class="banner-1">
          <img src="assets/user2/images/4.jpg" class="img-responsive" alt="">
        </div>
      </a>
    </li><li class="nbs-flexisel-item" style="width: 205.2px;">
      <a href="#">
        <div class="banner-1">
          <img src="assets/user2/images/6.jpg" class="img-responsive" alt="">
        </div>
      </a>
    </li><li class="nbs-flexisel-item" style="width: 205.2px;">
      <a href="#">
        <div class="banner-1">
          <img src="assets/user2/images/1.jpg" class="img-responsive" alt="">
        </div>
      </a>
    </li></ul><div class="nbs-flexisel-nav-left" style="top: 45.5px;"></div><div class="nbs-flexisel-nav-right" style="top: 45.5px;"></div></div></div>

    <script type="text/javascript">
      $(window).load(function() {

        $("#flexiselDemo3").flexisel({
          visibleItems: 5,
          animationSpeed: 1000,
          autoPlay: true,
          autoPlaySpeed: 3000,
          pauseOnHover: true,
          enableResponsiveBreakpoints: true,
          responsiveBreakpoints: {
            portrait: {
              changePoint:480,
              visibleItems: 2
            },
            landscape: {
              changePoint:640,
              visibleItems: 3
            },
            tablet: {
              changePoint:768,
              visibleItems: 3
            }
          }
        });

      });
    </script>
    <script type="text/javascript" src="assets/user2/js/jquery.flexisel.js"></script>
    <div class="clearfix"> </div>
  </div>












  <div class="footer">
    <div class="col-md-3 foot-1">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">||   Lorem Ipsum passage</a></li>
        <li><a href="#">||   Finibus Bonorum et</a></li>
        <li><a href="#">||   Treatise on the theory</a></li>
      </ul>
    </div>
    <div class="col-md-3 foot-1">
      <h4>Favorite Resources</h4>
      <ul>
        <li><a href="#">||   Characteristic words</a></li>
        <li><a href="#">||   combined with a handful</a></li>
        <li><a href="#">||   which looks reasonable</a></li>
      </ul>
    </div>
    <div class="col-md-3 foot-1">
      <h4>About Us</h4>
      <ul>
        <li><a href="#">||  Even slightly believable</a></li>
        <li><a href="#">||  Hidden in the middle</a></li>
        <li><a href="#">||  Ipsum therefore always</a></li>
      </ul>
    </div>
    <div class="col-md-3 foot-1">
      <h4>Custom Menu</h4>
      <ul>
        <li><a href="#">||  Internet tend to repeat</a></li>
        <li><a href="#">||  Alteration in some form</a></li>
        <li><a href="#">||  This book is a treatise</a></li>
      </ul>
    </div>

    <div class="clearfix"> </div>
    <div class="copyright">
      <p>Copyrights © 2021 Voguish All rights reserved | Template by <a href="https://www.google.com/">Google</a></p>
    </div>
  </div>
</div>
</body>
