
<div class="header">
  <div class="bg-color">
    <header id="main-header" >

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a  class="navbar-brand" href="#"><h1>Dream Blog</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"> <h3> Home </h3> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/createBlog"> <h3> NewBlog </h3> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="login"> <h3> Login </h3> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="register"> <h3> Register </h3> </a>
            </li>
          </ul>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12 wow fadeIn delay-05s">
            <div class="banner-text">
              <h2>Hi, I am <span>Dream</span> Blog,</h2>
              <p>I will listen to everything you share, <br> Hope all the best will happen to you</p>
            </div>
            <div class="overlay-detail text-center">
              <a href="#about"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="about" >

  <div class="row">
    <div class="col-sm-6">
      <app-blogday></app-blogday>
    </div>
    <div class="col-sm-6">
      <app-blogtop></app-blogtop>
    </div>
  </div>

</section>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title text-center">Let's <span class="deco">See</span> My Work</h2>
      </div>
      <div class="col-md-12">
        <div id="myGrid" class="grid-padding">
          <div class="col-md-4 col-sm-4 padding-right-zero">
            <img src="assets/user/img/portfolio01.jpg" class="img-responsive">
            <img src="assets/user/img/port01.jpg" class="img-responsive">
            <img src="assets/user/img/port02.jpg" class="img-responsive">
            <img src="assets/user/img/portfolio01.jpg" class="img-responsive">
          </div>
          <div class="col-md-4 col-sm-4 padding-right-zero">
            <img src="assets/user/img/portfolio02.jpg" class="img-responsive">
            <img src="assets/user/img/port01.jpg" class="img-responsive">
            <img src="assets/user/img/port02.jpg" class="img-responsive">
            <img src="assets/user/img/portfolio01.jpg" class="img-responsive">
            <img src="assets/user/img/port03.jpg" class="img-responsive">
          </div>
          <div class="col-md-4 col-sm-4 padding-right-zero">
            <img src="assets/user/img/port01.jpg" class="img-responsive">
            <img src="assets/user/img/portfolio01.jpg" class="img-responsive">
            <img src="assets/user/img/portfolio02.jpg" class="img-responsive">
            <img src="assets/user/img/port03.jpg" class="img-responsive">
            <img src="assets/user/img/portfolio02.jpg" class="img-responsive">
            <img src="assets/user/img/port02.jpg" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer-2 text-center-xs bg--white">
  <div class="container">
    <!--end row-->
    <div class="row">
      <div class="col-md-6">
        <div class="footer">
          © Goodbye - See You Again
          <div class="credits">


            Designed by <a href="https://google.com/">Dream Blog</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-right">
        <ul class="social-list">
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-dribbble"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/BackSunset/"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>

    </div>
    <!--end row-->
  </div>
</footer>
