<div>
  <form>
    <div class="input-group">
      <input placeholder="Search" style="margin-left: 868px; width: 400px ; height: 35px "  type="text" name="search" [(ngModel)]="filter">
    </div>
  </form>

</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date Submitted</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let blog of blogs | filter:filter; let i = index"[attr.data-index]="i">
        <td>{{ i }}</td>
        <td>
          <a routerLink="/blog-details-private/{{ blog.id }}" *ngIf="users.id">{{ blog.title | slice:0:60 }}</a>
        </td>
        <td *ngIf="users">{{ users.fullName }}</td>
        <td><p>Published</p> {{ blog.created_at | slice:0:10 }}</td>
      </tr>
    </tbody>
  </table>
</div>
