<div class="col-md-12 col-lg-20">
  <div data-v-1199e71e="" class="card">
    <header data-v-1199e71e="" class="card-header" class="btn btn-dark"><strong data-v-1199e71e="">Blog hay</strong>
      <div data-v-1199e71e="" class="card-header-actions"><a data-v-1199e71e=""
                                                             href="https://coreui.io/vue/docs/components/card-components"
                                                             rel="noreferrer noopener" target="_blank"
                                                             class="card-header-action"></a></div>
    </header>
    <div data-v-1199e71e="" class="card-body" style="padding: 5px;">
      <ul data-v-1199e71e="" role="list-items" class="list-group">
        <li data-v-1199e71e=""
            class="list-group-item hr-last-child-display-none padding-bottom-list-item padding-top-list-item"
            style="border: none;">
         </ul>
    </div>
  </div>
</div>
