<body>
<!-- header -->
<div class="container">
  <div class="header">
    <div class="logo">
      <a href="index.html"><img src="assets/user2/images/logo.png" class="img-responsive" alt=""></a>
    </div>

    <div class="head-nav" id="menu">
      <span class="menu"> </span>
      <ul class="cl-effect-1">
        <li class="active"><a routerLink="">Home</a></li>
        <li><a routerLink="/createBlog">New Post</a>
        <li><a routerLink="/blog">Post</a></li>
        <li><a routerLink="/blogtop">Blog</a></li>
        <li><a *ngIf="!userLogin" routerLink="/login">Login</a></li>
        <li><a *ngIf="userLogin" (click)="logOut()">Log Out</a></li>
        <li><a *ngIf="userLogin">{{ users.fullName }}</a>
          <ul class="submenu1">
            <li><a routerLink="/user-details" *ngIf="userLogin">My Profile</a></li>
          </ul>
        </li>
        <div class="clearfix"></div>
      </ul>
    </div>
    <!-- script-for-nav -->
    <script>
      $( "span.menu" ).click(function() {
        $( ".head-nav ul" ).slideToggle(300, function() {
          // Animation complete.
        });
      });
    </script>
    <!-- script-for-nav -->



    <div class="clearfix"> </div>
  </div>
</div>
<!-- header -->
<!-- Blog -->
<div class="container">
  <div class="blog">

    <div class="blog-content">
      <div class="blog-content-left">
        <div class="blog-articals">

          <pagination-controls (pageChange)="p = $event"></pagination-controls>

          <div class="blog-artical">
            <div class="blog-artical-info"  *ngFor="let blog of blogs | paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
              <div class="blog-artical-info-img">
                <img [src]="blog.image" style="width: 790px; height: 380px">
              </div>
              <div class="blog-artical-info-head">
<!--                <h2><a routerLink="blog-details/{{ blog.id }}"> {{blog.title}}</a></h2>-->
                <h2><a routerLink="blog-details/{{ blog.id }}"> {{blog.title}}</a></h2>
                <h6>Posted on {{ blog.created_at | slice:0:10 }} am by <a routerLink="">{{ users.name }}</a></h6>

              </div>
              <div class="blog-artical-info-text">
                <p class="card-text" [innerHTML]="blog.content | slice:0:200">
              </div>
              <div class="artical-links">
                <ul>
                  <li><small> </small><span>june 25, 2021</span></li>
                  <li><a href="#"><small class="admin"> </small><span>admin</span></a></li>
                  <li><a href="#"><small class="no"> </small><span>No comments</span></a></li>
                  <li><a href="#"><small class="posts"> </small><span>View posts</span></a></li>
                  <li><a href="#"><small class="link"> </small><span>permalink</span></a></li>
                </ul>
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>


          <pagination-controls (pageChange)="p = $event"></pagination-controls>


        </div>
      </div>
      
      <div class="clearfix"> </div>

    </div>
  </div>
  <!-- /Blog -->

  <div class="footer">
    <div class="col-md-3 foot-1">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">||   Lorem Ipsum passage</a></li>
        <li><a href="#">||   Finibus Bonorum et</a></li>
        <li><a href="#">||   Treatise on the theory</a></li>
      </ul>
    </div>
    <div class="col-md-3 foot-1">
      <h4>Favorite Resources</h4>
      <ul>
        <li><a href="#">||   Characteristic words</a></li>
        <li><a href="#">||   combined with a handful</a></li>
        <li><a href="#">||   which looks reasonable</a></li>
      </ul>
    </div>
    <div class="col-md-3 foot-1">
      <h4>About Us</h4>
      <ul>
        <li><a href="#">||  Even slightly believable</a></li>
        <li><a href="#">||  Hidden in the middle</a></li>
        <li><a href="#">||  Ipsum therefore always</a></li>
      </ul>
    </div>
    <div class="col-md-3 foot-1">
      <h4>Custom Menu</h4>
      <ul>
        <li><a href="#">||  Internet tend to repeat</a></li>
        <li><a href="#">||  Alteration in some form</a></li>
        <li><a href="#">||  This book is a treatise</a></li>
      </ul>
    </div>

    <div class="clearfix"> </div>
    <div class="copyright">
      <p>Copyrights © 2021 Voguish All rights reserved | Template by <a href="https://www.google.com/">Google</a></p>
    </div>
  </div>
</div>
</body>
