<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="index.html"><img src="assets/user2/images/logo.png" class="img-responsive" alt=""></a>
            </div>

            <div class="head-nav" id="menu">
                <span class="menu"> </span>
                <ul class="cl-effect-1">
                    <li class="active"><a routerLink="">Home</a></li>
                    <li><a routerLink="/createBlog">New Post</a>
                        <li><a routerLink="/blog">Post</a></li>
                        <!-- <li><a routerLink="/blogtop">Blog</a></li> -->
                        <li><a *ngIf="!userLogin" routerLink="/login">Login</a></li>
                        <li><a *ngIf="userLogin" (click)="logOut()">Log Out</a></li>
                        <li><a *ngIf="userLogin" routerLink="/user-details">{{ users.fullName }}</a>
                        </li>
                        <div class="clearfix"></div>
                </ul>
            </div>

            <script>
                $("span.menu").click(function() {
                    $(".head-nav ul").slideToggle(300, function() {
                        // Animation complete.
                    });
                });
            </script>
            <!-- script-for-nav -->



            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- header -->
    <!-- header -->
    <div class="container">
        <div class="about">
            <!--      <h2>Chi tiết</h2>-->




            <div class="about-top">
                <h2>{{ blogs.title }}</h2>
                <p>Đăng vào {{ blogs.created_at | slice:0:10 }}</p>

                <div class="clearfix" *ngIf="blogs.image">
                    <img [src]="blogs.image" class="image" alt="Pineapple">
                    <p [innerHTML]="blogs.content" class="p"></p>
                </div>


                <div class="clearfix"> </div>
            </div>


            <div class="testimonial">


                <div class="fle-xsel">
                    <div class="nbs-flexisel-container">
                        <div class="nbs-flexisel-inner">
                            <ul id="flexiselDemo3" class="nbs-flexisel-ul" style="left: -394.189px; display: block;">
                                <li class="nbs-flexisel-item" style="width: 205.2px;">
                                    <a href="#">
                                        <div class="banner-1">
                                            <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/46/a0/1f/46a01f30fb19c7e4bd40ab4be53e88e6.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="nbs-flexisel-item" style="width: 205.2px;">
                                    <a href="#">
                                        <div class="banner-1">
                                            <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/c6/60/6e/c6606eb3dadd2dc91da79bda9eaf5d42.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="nbs-flexisel-item" style="width: 205.2px;">
                                    <a href="#">
                                        <div class="banner-1">
                                            <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/b1/fe/3a/b1fe3a4908da6f9f060a6bd64fff0758.jpg " class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="nbs-flexisel-item" style="width: 205.2px;">
                                    <a href="#">
                                        <div class="banner-1">
                                            <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/fb/7d/63/fb7d63b4cfd70a1b09de0390f6c0bd33.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="nbs-flexisel-item" style="width: 205.2px;">
                                    <a href="#">
                                        <div class="banner-1">
                                            <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/37/a2/d8/37a2d84ef280705467c13a39c968ac81.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="nbs-flexisel-item" style="width: 205.2px;">
                                    <a href="#">
                                        <div class="banner-1">
                                            <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/7c/9e/37/7c9e378ba027d641d93ba54d1ddf3f0e.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="nbs-flexisel-item" style="width: 205.2px;">
                                    <a href="#">
                                        <div class="banner-1">
                                            <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/48/54/7e/48547e8dac8286bea2e01b800b8d29b8.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="nbs-flexisel-item" style="width: 205.2px;">
                                    <a href="#">
                                        <div class="banner-1">
                                            <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/64/b1/b0/64b1b0be595928a0f72c2412f29a3bd0.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="nbs-flexisel-item" style="width: 205.2px;">
                                    <a href="#">
                                        <div class="banner-1">
                                            <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/1d/35/8b/1d358b0bf48e757171c9f550d89b94a7.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="nbs-flexisel-item" style="width: 205.2px;">
                                    <a href="#">
                                        <div class="banner-1">
                                            <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/cc/9a/1b/cc9a1b634de5a5014aa52df56c846137.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="nbs-flexisel-item" style="width: 205.2px;">
                                    <a href="#">
                                        <div class="banner-1">
                                            <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/75/c2/d2/75c2d2ae4b90b690ee36a91305c8a0a2.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="nbs-flexisel-item" style="width: 205.2px;">
                                    <a href="#">
                                        <div class="banner-1">
                                            <img style="width: 320px ; height: 115px;" src="https://i.pinimg.com/564x/6c/e4/92/6ce4924b5921ad1353364852f3a96bbc.jpg" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="nbs-flexisel-nav-left" style="top: 45.5px;"></div>
                            <div class="nbs-flexisel-nav-right" style="top: 45.5px;"></div>
                        </div>
                    </div>


                    <!--    <script type="text/javascript" src="assets/user2/js/jquery.flexisel.js"></script>-->
                    <div class="clearfix"></div>


                    <div class="copyright">
                        <p>Copyrights © 2021 Voguish All rights reserved | Template by <a routerLink="">Dream Blog</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>