<!--<nav class="navbar navbar-dark bg-dark">-->
<!--  &lt;!&ndash; Navbar content &ndash;&gt;-->
<!--  <div class="row">-->
<!--    <div class="col-3">-->
<!--      <a routerLink="" style="margin-left: 165px;">Home</a>-->
<!--    </div>-->
<!--    <div class="col-1">-->
<!--      <a routerLink="/login" style="margin-left: 105px;" >Dashboard</a>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash; <div>-->
<!--    <a *ngIf="users" routerLink="" class="btn-outline-success" style="font-size: 15px; color:aliceblue;">howdy,{{ users.fullName }}</a>-->
<!--  </div> &ndash;&gt;-->
<!--</nav>-->

<!--<div>-->

<!--  <div class="container">-->

<!--    <div *ngIf="blogs">e-->
<!--      <div class="row">-->
<!--        <div class="col-1"></div>-->
<!--        <div class="col-10">-->
<!--          <div>-->
<!--            <h1 style="margin-top: 25px;">{{ blogs.title }}</h1>-->
<!--            <div class="row">-->
<!--              <p style="margin-left: 17px;">{{ blogs.created_at | slice:0:10 }}</p>-->
<!--              <p *ngIf="users" style="margin-left: 20px;">{{ users.fullName }}</p>-->
<!--              <img *ngIf="users" [src]="users.image" class="image">-->


<!--            </div>-->
<!--          </div>-->
<!--          <div style="font-size: 20px;" [innerHTML]="blogs.content">-->
<!--            &lt;!&ndash; {{ blogs.content }} &ndash;&gt;-->
<!--          </div><br>-->
<!--          <div>-->
<!--            <img [src]="blogs.image" style="width: 400px; height: 300px">-->
<!--          </div><br>-->
<!--          <div >-->
<!--            <a (click)="list()" ><i class="bi bi-arrow-left-circle btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">-->
<!--              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>-->
<!--            </svg></i></a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <hr>-->
<!--  <footer>-->
<!--    <div>-->
<!--      Thank you for creating with WordPress.Version 5.3.6-->
<!--    </div>-->
<!--  </footer>-->





  <body>
  <!-- header -->
  <div class="header">
    <div class="container">
      <div class="logo">
        <a href="index.html"><img src="assets/user2/images/logo.png" class="img-responsive" alt=""></a>
      </div>

      <div class="head-nav">
        <span class="menu"> </span>
        <ul class="cl-effect-1">
          <li><a href="index.html">Home</a></li>
          <li class="active"><a href="about.html">About Us</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a routerLink="/blogtop">Blog</a></li>
          <li><a href="404.html">Shortcodes</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a href="contact.html">Contact</a></li>
          <div class="clearfix"></div>
        </ul>
      </div>
      <!-- script-for-nav -->
      <script>
        $( "span.menu" ).click(function() {
          $( ".head-nav ul" ).slideToggle(300, function() {
            // Animation complete.
          });
        });
      </script>
      <!-- script-for-nav -->



      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- header -->
  <!-- header -->
  <div class="container">
    <div class="about">
<!--      <h2>Chi tiết</h2>-->




      <div class="about-top">
        <div class="col-md-6 ab-top">
          <img [src]="blogs.image" style="width: 500px; height: 350px">
        </div>
        <div class="col-md-6 ab-top">
          <h2>{{ blogs.title }}</h2>
          <div style="font-size: 18px;" [innerHTML]="blogs.content">
          </div>
        </div>

        <div class="col-md-6 ab-top">
          <p style=" font-size: 13px">{{ blogs.created_at | slice:0:10 }}</p>
          <p *ngIf="users" style=" font-size: 15px">{{ users.fullName }}</p>
          <img *ngIf="users" [src]="users.image" class="image">
        </div>

        <div class="clearfix"> </div>
      </div>






      <div class="team_grid">
        <h3 class="m_1">Meet Our Team</h3>
        <div class="span_3">
          <div class="col-md-6 ab-top">
            <ul class="span_2">
              <li class="span_2-left"><img src="assets/user2/images/6.jpg" class="img-responsive" alt=""></li>
              <li class="span_2-right">
                <h3>Gummies lollipop</h3>

                <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
              </li>
              <div class="clearfix"> </div>
            </ul>
          </div>
          <div class="col-md-6 ab-top">
            <ul class="span_2">
              <li class="span_2-left"><img src="assets/user2/images/5.jpg" class="img-responsive" alt=""></li>
              <li class="span_2-right">
                <h3>Gummies lollipop</h3>

                <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
              </li>
              <div class="clearfix"> </div>
            </ul>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="span_4">
          <div class="col-md-6 ab-top">
            <ul class="span_2">
              <li class="span_2-left"><img src="assets/user2/images/1.jpg" class="img-responsive" alt=""></li>
              <li class="span_2-right">
                <h3>Gummies lollipop</h3>

                <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>

              </li>
              <div class="clearfix"> </div>
            </ul>
          </div>
          <div class="col-md-6 ab-top">
            <ul class="span_2">
              <li class="span_2-left"><img src="assets/user2/images/4.jpg" class="img-responsive" alt=""></li>
              <li class="span_2-right">
                <h3>Gummies lollipop</h3>

                <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>

              </li>
              <div class="clearfix"> </div>
            </ul>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="testimonial">

        <h3>Our Testimonials</h3>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
        <ul class="test_icon">
          <li><a  href="#"><img style="width: 200px ; height: 120px" src="https://i.pinimg.com/564x/fc/cc/a9/fccca976736c9429dd8d9a5b4af746bd.jpg" class="img-responsive"></a></li>
          <li><a href="#"><img style="width: 200px ; height: 120px" src="https://i.pinimg.com/564x/55/3b/df/553bdf8e0cdeed1042fb4d5c695910f9.jpg" class="img-responsive"></a></li>
          <li><a href="#"><img style="width: 200px ; height: 120px" src="https://i.pinimg.com/564x/05/1a/25/051a2544a64b045b9909a7ec5c822831.jpg" class="img-responsive"></a></li>
          <li><a href="#"><img style="width: 200px ; height: 120px" src="https://i.pinimg.com/564x/a3/49/63/a34963753743649fc3c167ee6f40b60b.jpg" class="img-responsive"></a></li>
          <li><a href="#"><img style="width: 200px ; height: 120px" src="https://i.pinimg.com/564x/b6/08/16/b608162ca4ba3a7f80caf17b63aea8db.jpg" class="img-responsive"></a></li>
          <div class="clearfix"> </div>
        </ul>

      </div>
    </div>
    <div class="footer">
      <div class="col-md-3 foot-1">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">||   Lorem Ipsum passage</a></li>
          <li><a href="#">||   Finibus Bonorum et</a></li>
          <li><a href="#">||   Treatise on the theory</a></li>
        </ul>
      </div>
      <div class="col-md-3 foot-1">
        <h4>Favorite Resources</h4>
        <ul>
          <li><a href="#">||   Characteristic words</a></li>
          <li><a href="#">||   combined with a handful</a></li>
          <li><a href="#">||   which looks reasonable</a></li>
        </ul>
      </div>
      <div class="col-md-3 foot-1">
        <h4>About Us</h4>
        <ul>
          <li><a href="#">||  Even slightly believable</a></li>
          <li><a href="#">||  Hidden in the middle</a></li>
          <li><a href="#">||  Ipsum therefore always</a></li>
        </ul>
      </div>
      <div class="col-md-3 foot-1">
        <h4>Custom Menu</h4>
        <ul>
          <li><a href="#">||  Internet tend to repeat</a></li>
          <li><a href="#">||  Alteration in some form</a></li>
          <li><a href="#">||  This book is a treatise</a></li>
        </ul>
      </div>

      <div class="clearfix"> </div>
      <div class="copyright">
        <p>Copyrights © 2015 Voguish All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
      </div>
    </div>
  </div>
  </body>


